<div id="main">

<h1 style="margin-top: 30px; margin-bottom: 10px;">HOME</h1>
<hr />

<a class="a-menu" href="/Clients/Get">Clients</a>
<a class="a-menu" href="/Services/Get">Services</a>
<a class="a-menu" href="/ServiceKinds/Get">Service Kinds</a>
<a class="a-menu" href="/Orders/Get">Orders</a>
<a class="a-menu" href="/Feedbacks/Get">Feedbacks</a>
<a class="a-menu" href="/Workers/Get">Workers</a>

</div>

