@model OrderCreatedModel

@{
    var clients = Model.Clients
        .Select(i => new SelectListItem()
                {
                    Text = $"{i.Id}, {i.Surname} {i.Name} {i.MiddleName}",
                    Value = $"{i.Id}, {i.Surname} {i.Name} {i.MiddleName}"
                });

    var workers = Model.Workers
        .Select(i => new SelectListItem()
                {
                    Text = $"{i.Id}, {i.Surname} {i.Name} {i.MiddleName}",
                    Value = $"{i.Id}, {i.Surname} {i.Name} {i.MiddleName}"
                });
}

<div id="main">
    <h2>Orders (create)</h2>

    <div>
    <a class="menu-item-btn" href="/Clients/Get">Clients</a>
    <a class="menu-item-btn" href="/Workers/Get">Workers</a>
    <a class="menu-item-btn" href="/Feedbacks/Get">Feedbacks</a>
    <a class="menu-item-btn" href="/Orders/Get">Orders</a>
    <a class="menu-item-btn" href="/ServiceKinds/Get">Service Kinds</a>
    <a class="menu-item-btn" href="/Services/Get">Services</a>
    </div>

    <form class="changing-form" method="post" asp-action="Create">
        <div class="field-container">
            <label asp-for="DateTime">Date and time</label>
            <div>
                <input class="input-props" asp-for="DateTime" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="DateTime"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Client"></label>
            <div>
                <select class="select-props" asp-for="Client" asp-items="@clients"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Worker"></label>
            <div>
                <select class="select-props" asp-for="Worker" asp-items="@workers"></select>
            </div>
        </div>

        <button class="action-btn" type="submit">Submit</button>
    </form>
</div>